@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>


<p>Example of some information about this site.</p>

@section Cumpulsory_section {
    <div>
        <p id="date"></p>
    </div>
}
